body{

  color: #fff;
 
}

.App {
  max-width: 400px;
  margin: auto;
  background-color: black;
  border:10px solid black;
  border-radius: 10px;
}

p {
  font-size: 40px;
  border: 2px solid black;
  background-color: greenyellow;
  max-width: 100%;
 padding: 10px;
}
.result {
  background-color:greenyellow;
  width: 100%;
}

button {
  width: 20%;
  background-color: burlywood;
  height: 50px;
  font-size:  30px;
  border-radius: 20px;
  color: #fff;

}


.special{
  background-color: orangered;

}
.operations{
  background-color: orange;
 
}

